[Desktop Entry]
Name[fr]=Xfe
Name[de]=Xfe
Name[pl]=Xfe
Name[tr]=Xfe
Name[ca]=Xfe
Name[es]=Xfe
Name[es_AR]=Xfe
Name[es_CO]=Xfe
Name[it]=Xfe
Name[hu]=Xfe
Name[ru]=Xfe
Name[cs]=Xfe
Name[sv]=Xfe
Name[zh_TW]=Xfe
Name[el]=ΕξΕφΈ (Xfe)
Name[nl]=Xfe
Name[fi]=Xfe
Name=Xfe
GenericName[fr]=Gestionnaire de fichiers
GenericName[de]=Dateimanager
GenericName[pt_BR]=Gerenciador de Arquivos
GenericName[pl]=Menedżer plików
GenericName[tr]=Dosya Yöneticisi
GenericName[ca]=Gestor de fitxers
GenericName[es]=Gestor de archivos
GenericName[es_AR]=Gestor de archivos
GenericName[es_CO]=Administrador de archivos
GenericName[it]=File Manager
GenericName[hu]=Fájlkezelő
GenericName[ru]=Файловый менеджер
GenericName[cs]=Souborový manažer
GenericName[sv]=Filhanterare
GenericName[zh_TW]=檔案管理員
GenericName[el]=Διαχειριστής Αρχείων
GenericName[nl]=Bestandsbeheerder
GenericName[fi]=File Manager
GenericName=File Manager
Comment[fr]=Un gestionnaire de fichiers léger pour X Window
Comment[de]=Ein leichter Dateimanager für X Window
Comment[pt_BR]=Um gerenciador de arquivos leve para o X Window
Comment[pl]=Lekki menadżer plików dla X Window
Comment[tr]=X Penceresi için hafif bir dosya yöneticisi
Comment[ca]=Un gestor de fitxers lleuger per a X Window
Comment[es]=Un gestor de archivos ligero para X Window
Comment[es_AR]=Un gestor de archivos ligero para X Window
Comment[es_CO]=Un administrador de archivos ligero para X Window
Comment[it]=Un file manager leggero per X Window
Comment[hu]=Pehelysúlyú fájlkezelő X Windowhoz
Comment[ru]=Легкий файловый менеджер для X Window
Comment[cs]=Lehký souborový manažer pro X
Comment[sv]=En lättviktig filhanterare för X Window
Comment[zh_TW]=X 視窗的輕量檔案管理員
Comment[el]=Ένας ελαφρύς διαχειριστής αρχείων για τα Εξ Γουίνντοου
Comment[nl]=Een lichtgewicht bestandsbeheerder voor X-Window
Comment[fi]=Kevyt tiedostonhallinta X ikkunalle
Comment=A lightweight file manager for X Window
Keywords=file manager
Exec=env LANG=ru_RU.UTF-8 xfe
Terminal=false
Type=Application
StartupNotify=true
Icon=xfe
Categories=System;FileManager;
Path=
