[Desktop Entry]
Version=1.0
Type=Application
Name=Пресети тем збірки
Comment=
Exec=themer
Icon=preferences-desktop-theme
Path=
Terminal=false
Categories=Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
StartupNotify=false
