[Desktop Entry]
Name=CPU-X
Comment[cs_CZ]=Shromažďuje informace o procesoru, základní desce a další
Comment[de]=Sammelt Informationen über CPU, Hauptplatine und mehr
Comment[fr]=Récolte des informations sur le CPU, la carte-mère et plus
Comment[ga]=Bailíonn sé eolas ar LAP, máthairchlár agus go leor eile
Comment[it]=Raccoglie informazioni su CPU, scheda madre ed altro
Comment[ja]=CPU、マザーボードなどの情報を収集する
Comment[pl]=Zbiera informacje o procesorze, płycie głównej i nie tylko
Comment[pt_BR]=Coleta informações sobre sua CPU, placa-mãe and mais
Comment[ro]=Adună informații despre procesor, placa bază și multe altele
Comment[ru]=Сбор информации о процессоре, материнской плате и др.
Comment[sv]=Samlar in information om CPU, moderkort och mer.
Comment[uk]=Збирає інформацію про процесор, материнську плату тощо
Comment[zh]=收集有关 CPU 和主板等的信息
Comment=Gathers information on CPU, motherboard and more
Exec=cpu-x
Icon=io.github.thetumultuousunicornofdarkness.cpu-x
Type=Application
Categories=GTK;System;
Terminal=false
Keywords[de]=CPU;System;Kern;Geschwindigkeit;Takt;Rate;Intel;AMD;Hauptplatine;
Keywords[fr]=CPU;système;cœur;vitesse;fréquence;cadence;Intel;AMD;carte-mère;
Keywords[ga]=LAP;córas;croí;luas;clog;ráta;Intel;AMD;máthairchlár;
Keywords[ja]=CPU;システム;コア;速度;クロック;レート;Intel;AMD;マザーボード;
Keywords[pl]=CPU;procesor;system;rdzeń;prędkość;taktowanie;Intel;AMD;płyta główna;
Keywords[pt_BR]=CPU;system;core;speed;clock;rate;Intel;AMD;motherboard;
Keywords[ro]=CPU;sistem;nucleu;viteză;ceas;rată;Intel;AMD; placa bază;
Keywords[ru]=CPU;system;core;speed;clock;rate;Intel;AMD;motherboard;процессор;система;ядро;скорость;тактовая;частота;материнская плата;
Keywords[sv]=CPU;system;kärna;hastighet;klocka;betyg;Intel;AMD; Moderkort;
Keywords[uk]=ЦП;система;ядро;швидкість;тактова частота;Intel;AMD;материнська плата;
Keywords=CPU;system;core;speed;clock;rate;Intel;AMD;motherboard;
