# SPDX-License-Identifier: CC-BY-SA-4.0
# SPDX-FileCopyrightText: Michael Terry

[Desktop Entry]
Name[af]=Rugsteune
Name[ar]=النسخ الاحتياطي
Name[ast]=Copies de seguridá
Name[be]=Рэзервовыя копіі
Name[bs]=Sigurnosne kopije
Name[ca]=Còpies de seguretat
Name[ca@valencia]=Còpies de seguretat
Name[ckb]=پاڵپشتییەکان
Name[cs]=Zálohy
Name[da]=Sikkerhedskopieringer
Name[de]=Datensicherungen
Name[el]=Αντίγραφα ασφαλείας
Name[en_AU]=Backups
Name[en_CA]=Backups
Name[en_GB]=Backups
Name[eo]=Sekurkopioj
Name[es]=Respaldos
Name[eu]=Babeskopiak
Name[fa]=پشتیبان‌ها
Name[fi]=Varmuuskopiot
Name[fr]=Sauvegardes
Name[fr_CA]=Sauvegardes
Name[fur]=Backups
Name[gd]=Lethbhreacan-glèidhidh
Name[gl]=Copias de respaldo
Name[he]=גיבויים
Name[hr]=Sigurnosno kopiranje
Name[hu]=Biztonsági mentések
Name[id]=Cadangan
Name[ie]=Archives
Name[it]=Backup
Name[ja]=バックアップ
Name[ka]=მარქაფები
Name[km]=បម្រុង​ទុក
Name[ko]=백업
Name[lt]=Atsarginės kopijos
Name[lv]=Rezerves kopijas
Name[mnw]=ဂိုၚ်စွံလဝ်ဂမၠိုၚ်
Name[mr]=बॅकअप
Name[ms]=Sandar
Name[nb]=Sikkerhetskopier
Name[nl]=Back-ups
Name[oc]=Salvaments
Name[pl]=Kopie zapasowe
Name[pt]=Backups
Name[pt_BR]=Backups
Name[ro]=Copii de siguranță
Name[ru]=Резервные копии
Name[sk]=Zálohy
Name[sl]=Varnostne kopije
Name[sq]=Backups
Name[sr]=Резерве
Name[sv]=Säkerhetskopior
Name[szl]=Kopije ibryczne
Name[th]=การสำรองข้อมูล
Name[tr]=Yedekler
Name[uk]=Резервні копії
Name[vi]=Sao lưu dự phòng
Name[zh_CN]=备份
Name[zh_TW]=備份
Name=Backups
Comment[be]=Абараніце сябе ад страты даных
Comment[ca]=Protegiu-vos de la pèrdua de dades
Comment[cs]=Chraňte se před ztrátou dat
Comment[da]=Beskyt dig selv mod tab af data
Comment[de]=Schützen Sie sich vor Datenverlust
Comment[es]=Protéjase frente a las pérdidas de datos
Comment[eu]=Babestu zure datuak, ez daitezela galdu
Comment[fa]=خود را از خطر از دست دادن پرونده‌هایتان ایمن کنید
Comment[fi]=Suojaa itsesi tietojen menetykseltä
Comment[fr]=Protégez-vous contre la perte de données
Comment[fur]=Proteziti da lis pierditis di dâts
Comment[gl]=Protéxase das perdas de datos
Comment[he]=הגנה מאיבוד המידע שלך
Comment[hr]=Zaštitite se od gubitka podataka
Comment[hu]=Védje meg magát az adatvesztés ellen
Comment[id]=Lindungi dirimu dari kehilangan data
Comment[ie]=Protecte vos contra perde de data
Comment[it]=Proteggersi dalla perdita di dati
Comment[ja]=データ損失からあなたを守ります
Comment[ka]=დაიცავით თავი მონაცემების დაკარგვისგან
Comment[ko]=데이터 손실을 막아줍니다
Comment[nl]=Bescherm uzelf tegen gegevensverlies
Comment[oc]=Protegissètz-vos de las pèrdas de donadas
Comment[pl]=Chroń się przed utratą danych
Comment[pt]=Proteja-se da perda de dados
Comment[pt_BR]=Proteja-se contra perda de dados
Comment[ro]=Protejați-vă de pierderile de date
Comment[ru]=Защитите себя от потери данных
Comment[sk]=Ochráňte sa pred stratou údajov
Comment[sl]=Zaščitite se pred izgubo podatkov
Comment[sr]=Заштитите се од губитка података
Comment[sv]=Skydda dig själv från dataförlust
Comment[tr]=Kendinizi veri yitiminden koruyun
Comment[uk]=Захистіть себе від втрати даних
Comment[vi]=Bảo vệ bản thân bạn không bị mất dữ liệu
Comment[zh_CN]=保护您免受数据丢失困扰
Comment[zh_TW]=保護您的資料不流失
Comment=Protect yourself from data loss

Icon=org.gnome.DejaDup

Exec=deja-dup %u

StartupNotify=true
DBusActivatable=true

# Switch this to SingleMainWindow once xdg-desktop-utils 0.27 is released & in the SDK
X-GNOME-SingleWindow=true

Type=Application

# keep in sync with metainfo file
Categories=Utility;Archiving;GNOME;GTK;X-GNOME-Utilities;

# Used for oauth flows (server redirects to this custom scheme and we catch it)
MimeType=x-scheme-handler/com.googleusercontent.apps.916137916439-evn6skqan91m96fmsskk8102e3iepv22;x-scheme-handler/msal5291592c-3c09-44fb-a275-5027aa238645;

# Translators: Add whatever keywords you want in your language, separated by semicolons
# These keywords are used when searching for applications in dashes, etc.
Keywords[af]=déjà;deja;dup;
Keywords[ar]=ديجا دوب;ديجا;دوب;نسخ احتياطي; نسخة احتياطية; احتياطي;
Keywords[ast]=déjà;deja;dup;
Keywords[be]=déjà;deja;dup;
Keywords[bg]=déjà;deja;dup;
Keywords[bn]=déjà;deja;dup;
Keywords[bs]=déjà;deja;dup;
Keywords[ca]=déjà;deja;dup;
Keywords[ca@valencia]=déjà;deja;dup;
Keywords[ckb]=déjà;deja;dup;
Keywords[cs]=déjà;deja;dup;
Keywords[cy]=déjà;deja;dup;
Keywords[da]=déjà;deja;dup;
Keywords[de]=déjà;deja;dup;backup;Datensicherung;Sicherung;
Keywords[el]=déjà;deja;dup;
Keywords[en_AU]=déjà;deja;dup;
Keywords[en_CA]=déjà;deja;dup;
Keywords[en_GB]=déjà;deja;dup;
Keywords[eo]=déjà;deja;dup;
Keywords[es]=déjà;deja;dup;
Keywords[eu]=déjà;deja;dup;
Keywords[fa]=backup;déjà;deja;dup;دژا;داپ;پشتیبان;
Keywords[fi]=déjà;deja;dup;
Keywords[fo]=déjà;deja;dup;
Keywords[fr]=déjà;deja;dup;
Keywords[fr_CA]=déjà;deja;dup;sauvegarde;
Keywords[fur]=déjà;deja;dup;backup;
Keywords[fy]=déjà;deja;dup;
Keywords[gd]=déjà;deja;dup;
Keywords[gl]=déjà;deja;dup;respaldo;seguranza;copias;
Keywords[he]=déjà;deja;dup;
Keywords[hr]=déjà;deja;dup;
Keywords[hu]=déjà;deja;dup;
Keywords[id]=déjà;deja;dup;
Keywords[ie]=déjà;deja;dup;
Keywords[io]=déjà;deja;dup;
Keywords[it]=déjà;deja;dup;
Keywords[ja]=déjà;deja;dup;backup;デジャ;ダップ;バックアップ;復元;dap;bakkuappu;fukugen;hukugen;
Keywords[ka]=déjà;deja;dup;
Keywords[km]=déjà;deja;dup;
Keywords[ko]=déjà;deja;dup;데쟈 둡;
Keywords[ku]=déjà;deja;dup;
Keywords[lt]=déjà;deja;dup;
Keywords[lv]=déjà;deja;dup;deža;dublēt;rezerves;
Keywords[mnw]=déjà;deja;dup;
Keywords[mr]=déjà;deja;dup;
Keywords[ms]=déjà;deja;dup;
Keywords[nb]=déjà;deja;dup;
Keywords[nl]=déjà;deja;dup;backups;back-ups;reservekopieën;reservekopies;
Keywords[nn]=déjà;deja;dup;
Keywords[oc]=déjà;deja;dup;
Keywords[pa]=déjà;deja;dup;
Keywords[pl]=déjà;deja;dup;
Keywords[pt]=déjà;deja;dup;
Keywords[pt_BR]=déjà;deja;dup;
Keywords[ro]=déjà;deja;dup;
Keywords[ru]=déjà;deja;dup;дежа;дап;дуп;
Keywords[sk]=déjà;deja;dup;zaloha;záloha;zálohovanie;zalohovanie;
Keywords[sl]=déjà;deja;dup;varnostna;kopija;arhiv;backup;pika;
Keywords[sq]=déjà;deja;dup;
Keywords[sr]=резерва;сеф;умножак;déjà;deja;dup;
Keywords[sv]=déjà;deja;dup;
Keywords[szl]=déjà;deja;dup;
Keywords[ta]=தேஜா;தேஜா;டப்;
Keywords[th]=déjà;deja;dup;
Keywords[tr]=déjà;deja;dup;
Keywords[ug]=déjà;deja;dup;
Keywords[uk]=déjà;deja;dup;
Keywords[vi]=déjà;deja;dup;
Keywords[zh_CN]=déjà;deja;dup;备份;复制;既视感;
Keywords[zh_HK]=déjà;deja;dup;備份;
Keywords[zh_TW]=déjà;deja;dup;備份;backup;
Keywords=déjà;deja;dup;

X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;

Actions=backup;

[Desktop Action backup]
Name[af]=Rugsteun
Name[ar]=خُذ نسخة احتياطية
Name[ast]=Facer copia de seguridá
Name[be]=Стварыць рэзервовую копію
Name[bs]=Napravi rezervnu kopiju
Name[ca]=Fes una còpia de seguretat
Name[ca@valencia]=Fes una còpia de seguretat
Name[ckb]=پاڵپشتی بکە
Name[cs]=Zálohovat
Name[da]=Sikkerhedskopiér
Name[de]=Sichern
Name[el]=Αντίγραφο ασφαλείας
Name[en_AU]=Back Up
Name[en_CA]=Back Up
Name[en_GB]=Backup
Name[eo]=Sekurkopio
Name[es]=Respaldar
Name[eu]=Babeskopia
Name[fa]=پشتیبان‌گیری
Name[fi]=Varmuuskopiointi
Name[fr]=Sauvegarder
Name[fr_CA]=Sauvegarde
Name[fur]=Fâs il backup
Name[gd]=Dèan lethbhreac-glèidhidh
Name[gl]=Facer copia de respaldo
Name[he]=גיבוי
Name[hr]=Sigurnosno kopiraj
Name[hu]=Biztonsági mentés
Name[id]=Buat Cadangan
Name[ie]=Archivar
Name[it]=Backup
Name[ja]=バックアップ
Name[ka]=მარქაფი
Name[km]=បម្រុងទុក
Name[ko]=백업
Name[lt]=Padaryti atsarginę kopiją
Name[lv]=Dublēt
Name[mnw]=ကလေၚ်စဴ
Name[mr]=बॅकअप घ्या
Name[ms]=Sandar
Name[nb]=Ta sikkerhetskopi
Name[nl]=Back-up maken
Name[oc]=Salvar
Name[pl]=Wykonaj kopię zapasową
Name[pt]=Efetuar _Backup
Name[pt_BR]=Backup
Name[ro]=Copie de siguranță
Name[ru]=Создать резервную копию
Name[sk]=Zálohovať
Name[sl]=Ustvari varnostno kopijo
Name[sq]=Ruaj
Name[sr]=Направи резерву
Name[sv]=Säkerhetskopiera
Name[szl]=Wykōnej kopijo ibryczno
Name[th]=สำรองข้อมูล
Name[tr]=Yedekle
Name[uk]=Резервна копія
Name[vi]=Sao lưu dự phòng
Name[zh_CN]=备份
Name[zh_TW]=備份
Name=Back Up
Exec=deja-dup --backup
